/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
	/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
	min-inline-size: 375px;
	margin: 0;
	color: var(--accent-color, #ff0070);
	font-family: var(--main-font, sans-serif);
	background-color: var(--bg-color, #000028);
	background-image: var(--bg-image);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

a {
	text-decoration: none;
	text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

a:hover {
	border-bottom: 1px solid;
}

a:focus-visible {
	outline: none;
	border: 1px solid;
}


.main__heading {
	font-weight: var(--bold-weight, 700);
	line-height: 83%;
	color: var(--main-heading-color, #db00ff);
	text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
	align-self: flex-end;
}

.header {
	block-size: 100vh;
	min-block-size: 668px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu-button {
	border: none;
	background-color: initial;
  font-size: var(--font-size, 18px);
  font-weight: var(--normal-weight, 400);
  text-transform: lowercase;
  padding: 1.5px 12.5px;
}


.header__theme-menu {
	justify-self: end;
	align-self: center;
}

.header__theme-menu-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.rec-label {
	display: var(--rec-display, none);
	position: absolute;
	justify-self: end;
	top: var(--header-padding);
	font-size: var(--font-size, 18px);
	font-weight: var(--normal-weight, 400);
}

.rec-label::after {
	content: "";
	position: absolute;
	width: 9px;
	height: 9px;
	top: 8px;
	background-color: var(--accent-color,#ff0070);
	border-radius: 50%;
	box-shadow: 0px 0px 4px 2px var(--accent-color, #FF0070);
	margin-left: 10px;
}

.decorated-zone {
	position: relative;
}

.decorated-zone::after, 
.decorated-zone::before {
	content: "";
	position: absolute;
	width: 25.04px;
	height: 25px;
}

.decorated-zone::before {
	top: var(--header-padding);
	right: var(--header-padding);
	border-top: 1px solid;
	border-right: 1px solid;
}

.decorated-zone::after {
	bottom: var(--header-padding);
	left: var(--header-padding);
	border-bottom: 1px solid;
	border-left: 1px solid;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color, #FF007066);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color, #FF0070);
}

.header__theme-menu-button:focus-visible {
	border-bottom: 1px solid var(--accent-color, #FF0070);
	outline: none;
}

.header__description {
	font-weight: var(--bold-weight, 700);
	font-size: var(--font-size, 18px);
	align-self: center;
}

.title-decor {
	color: var(--bg-color, #000028);
	background-color: var(--accent-color, #FF0070);
}

.description {
	display: grid;
	gap: 20px;
}

.answer__description {
	display: grid;
	gap: 10px;
}

.description__title {
	font-weight: var(--bold-weight, 700);
	font-size: var(--font-size, 18px);
}

.answer__title {
	font-weight: var(--bold-weight, 700);
	font-size: var(--font-size, 18px);
	line-height: var(--text-line-height, 23.4px);
}

.answer__text {
	font-weight: var(--normal-weight, 400);
	font-size: var(--font-size, 18px);
	color: var(--text-color, #F1B2CE);
	line-height: var(--text-line-height, 23.4px);
}

.answer__subtitle {
	font-weight: var(--normal-weight, 400);
	font-size: var(--font-size, 18px);
	line-height: var(--text-line-height, 23.4px);
}

.answer__subtitle:nth-child(2) {
	margin-top: 10px;
}

.card__description {
	display: grid;
	grid-template-columns: 1fr;
	
}

.gallery {
	display: grid;
	
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footer {
	block-size: 100vh;
	min-block-size: 668px;
	display: grid;
	grid-template-columns: 1fr;
}

.footer__heading {
	font-weight: var(--bold-weight, 700);
	color: var(--main-heading-color, #db00ff);
	text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
	align-self: center;
	justify-self: center;
}