/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
	--main-font: 'IBM Plex mono';
	--bg-image: url('/images/cover-image-dark.png');
	--normal-weight: 400;
	--bold-weight: 700;
	--font-size: 18px;
	--rec-display: none;
	--accent-color: #ff0070;
	--bg-color: #000028;
	--main-heading-color: #db00ff;
	--button-hover-color: #ff007066;
}

@media (width <= 375px) {
	.main__heading {
		font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	}
}

@media (width >=768px) {
  .main__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
