/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
	--main-font: 'IBM Plex mono';
	--bg-image: url('../images/cover-image-dark.png');
	--main-color: #ff0070;
	--title-color: #000028;
	--normal-weight: 400;
	--bold-weight: 700;
	--font-size: 18px;
	--rec-display: block;
	--accent-color: #ff0070;
	--bg-color: #000028;
	--main-heading-color: #db00ff;
	--button-hover-color: #ff007066;
	--button-active-color: #ff0070;
	--text-color: #F1B2CE;
	--text-line-height: 23.4px;
	--header-padding: 10px;
}